<div class="welcome-wrapper">
  <div class="welcome-left-side">
    <img src="client/app/components/welcome/img/robo2.png" alt="">
    <div class="content">
      <p>Welcome to the</p>
      <h1>Chat bot 3000</h1>
      <ul>
        <li>Ask questions</li>
        <li>Get answers</li>
        <li>Be happy!</li>
      </ul>
    </div>
  </div>
  <div class="welcome-right-side">
    <h3>Spend your evening time with someone smart!!! </h3>
    <span>
      <p>Join Robo</p>
      <p>right now!</p>
    </span>
    <div class="welcome-links">
      <a class="welcome-button" href="#/login">Log in</a>
      <a class="welcome-button" href="#/registration">Sign up</a>
    </div>
  </div>
</div>
